# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://vhlxcjvtvypqqydcaaqn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_JAyyo1VYmMwuuCGF1cZHJg_ee-UIfsj"
SUPABASE_SECRET_KEY="sb_secret_rN2x3QKB-0FsDj7KWj6Fqg_3VK_m3kD"

# Groq API Configuration
GROQ_API_KEY="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"

# HuggingFace API Configuration (for embeddings - FREE!)
# Get your free token at: https://huggingface.co/settings/tokens
HUGGINGFACE_API_KEY="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"

#Database password
SUPABSE_DATABASE_PASSWORD = "y764NFm4DdBAkGnR"